node_modules
.DS_Store
dist
build
dist-ssr
*.local

yarn-error.log*
.pnpm-debug.log*

# TS
*.tsbuildinfo

.vscode/settings.json

# GitHub Copilot instructions
.github/*.md

# Test
coverage/

# ESLint
.eslintcache

.tanstack